@import 'nib'

global-reset()

#dropzone
  position absolute
  width  322px
  height 200px
  margin auto
  left   0
  top    0
  right  0
  bottom 0
  background #16161D
  color #F90
  border-radius 10px
  font-family monospace
  font-weight bold
  text-align center
  span
    display inline-block
    vertical-align middle
  #vertical-aligner
    width  0
    height 100%
