@import 'nib'

global-reset()

body
  background #16161D
  font-size 140%

#dropzone
  position absolute
  width  322px
  height 200px
  margin auto
  left   0
  top    0
  right  0
  bottom 0
  background #F90
  color #16161D
  border-radius 10px
  font-family monospace
  font-weight bold
  text-align center
  span
    display inline-block
    vertical-align middle
  #vertical-aligner
    width  0
    height 100%

#odf
  ul
    margin-left 2em
  .tag
    color #F90
  .attribute
    .key
      color #F60
      margin-right .5em
    .value
      color #CCC
