doctype html
html
  head
    meta(charset="utf-8")
    title prototype-odf
    link(rel="stylesheet" type="text/css" href="./css/style.css")
  body
    #dropzone
      span#vertical-aligner
      span &lt;office:document-content/&gt;
    #odf
    script(src="./js/zip.js")
    script(src="./js/build.js")
